* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(32, 61, 37);
}

.contenido {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    display: flex;
    flex-direction: column;
}

input {
    width: 150px;
    height: 30px;
    background-color: rgb(191, 219, 29);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 4px;
    margin: 10px;
}

.box {
    width: 550px;
    height: 350px;
    border: 3px groove white;
    background: #000;
}

h1{
    font-size: 80px;
}

h2{
    margin-top: 3%;
    font-size: 40px;
}